// IMPORT //
@import 'bootstrap/bootstrap-grid.scss';

// GENERAL //
.w-100
{
    width: 100%;
}

.hide
{
    display: none !important;
}

// MODAL
#modal-bg
{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-box
{
  margin: 15% auto;
  display: flex;
  justify-content: center;
}

.action-btn
{
    border: none;
    border-radius: 100%;
    padding: 30px;
    cursor: pointer;
    transition-duration: 0.5s;

    &:hover
    {
        transform: rotate(15deg);
    }

    &:not(:last-child)
    {
        margin-right: 10px;
    }
}

#btn-attack
{
    background-color: rgb(145, 0, 0);
}

#btn-defense
{
    background-color: rgb(75, 105, 136);
}

*
{
    font-family: monospace;
}

body
{
    margin: 0;
    background-image: url("../images/textures/pow-star.png");
}

img
{
    max-width: 100%;
}

// MENU //
#menu, #menu-end
{
    background-image: url("../images/textures/pow-star.png");
    min-height: 100vh;
}

#btn-play, #btn-replay
{
    background-color: rgb(8, 0, 97);
    border: none;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.input-menu
{
    border-radius: 5px;
    border: none;
    height: 50px;
    padding-left: 15px;
    font-size: 20px;
}

// GRID //
#grid
{
    height: calc(100vh - 187px);
}

// GAMEBAR
.p-name
{
    font-weight: bold;
    font-size: 20px;
}

// Health
.health-container
{
    height: 30px;
    border: 3px solid #FF4B34;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

.health-bar
{
    background-color: #FF624B;
    height: 100%;
}

.hp0
{
    width: 0%;
}

.hp10
{
    width: 10%;
}

.hp20
{
    width: 20%;
}

.hp30
{
    width: 30%;
}

.hp40
{
    width: 40%;
}

.hp50
{
    width: 50%;
}

.hp60
{
    width: 60%;
}

.hp70
{
    width: 70%;
}

.hp80
{
    width: 80%;
}

.hp90
{
    width: 90%;
}

.hp100
{
    width: 100%;
}

.row
{
    height: 10%;
}

// Game
.square
{
    border: 1px solid black;
}

.wall
{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../images/textures/wall.png');
}

.floor
{
    background-image: url("../images/textures/floor.png");
}

.highlight
{
    cursor: pointer;

    path
    {
        fill: grey;
    }

    &:hover path
    {
        fill: black;
        transition-duration: 0.3s;
    }
}
